.profile-setup {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 0;
  width: 428px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-setup h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.profile-setup form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.profile-setup input,
.profile-setup textarea {
  height: 48px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.profile-setup textarea {
  height: 80px;
  resize: none;
}

.profile-setup button {
  margin-top: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.profile-setup button:hover {
  background-color: #0056b3;
}
